body{
    // background-image: url(https://drscdn.500px.org/photo/65060215/m%3D2048/fc1e72b3893ab6769746d37c2ec61aa9);
    padding: 15px;
}

// INDEX PAGE CASCADING STYLE SHEET

// SIGNUP FORM

#signup-form {
    background: rgba(0, 0, 0, 0.3);
    color: #FFF !important;
    padding: 20px 25px 10px 25px;
}
.form-control {
    background-color: rgba(0, 0, 0, 0);
}
legend {
    color: #FFF !important;
}
.control-label {
    font-weight: normal;
}


// HOME PAGE CASCADING STYLE SHEET

// GENERAL

.glyphicon {
    padding-right: 12px;
}

// MODULES

.module-holder{
    display: inline-block;
    border-bottom: 1px solid #eeefef;
    padding: 0px 2px;
    height: 85px;
}
.module-data {
    height: 600px;
    padding-right: 10px;
    padding-right: 10px;
    overflow-y: scroll;
}
.module-ctrl li {
    display: inline;
    float: left;
}
.social-pic img {
    border-radius: 50%;
    height: 75px;
    padding-top: 7px;
}
.social-title h3 {
    border-bottom: 1px solid black;
}

// LOGIN BAR

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

// LOG OUT BAR

#profile-dp{
    min-width: 160px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    padding-bottom: 15px;
}
#profile-dp .help-block{
    font-size:12px
}
#profile-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:10px;
}
#profile-dp .form-group {
    margin-bottom: 10px;
}

// MODULE TWITTER

.tweet-cont {
    border-bottom: 1px solid #eeefef;
}
.tweet-title li {
    display: inline;
    float: left;
}
.tweet-title {
    padding-left: 5px;
}
.tweet-cont .row .col-md-2 {
    padding-left: 10px;
    padding-right: 10px;
}
.tweet-cont .row .col-md-2 img {
    height: 55px;
    width: 55px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.tweet-cont .tweet-title {
    display: block;
    list-style-type: none;
}
.tweet-content p {
    display: inline-block;
}

// MODULE TWITTER - OG BLOCK
.ogt-clicks {
    border-radius: 10px;
    border: 1px solid #eeefef;
    min-width: 350px;
    padding: 0 0;
    margin-bottom: 7px;
}
.ogt-clicks:hover {
    opacity: 0.7;
}
.ogt-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.ogt-title {
    border-bottom: 1px solid #eeefef;
    margin: 0px 10px;
    padding: 10px 0px;
}
.ogt-desc {
    margin: 0px 10px 10px 10px;
    padding: 10px 0px;
    height: 50px;
    overflow: hidden;
}

// INSTAGRAM MODULE

.insta-cont {
    border: 1px solid #eeefef;
    margin-bottom: 10px;
    border-radius: 10px;
}
.insta-cont:hover {
    opacity: 0.7;
}
.inst-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.inst-title {
    border-bottom: 1px solid #eeefef;
    margin: 0px 10px;
    padding: 10px 0px;
}
.inst-cap {
    margin: 0px 10px;
    padding: 10px 0px;
}

// NEWS MODULE

#nytimes-title {
    height: 80px;
}
#nytimes-title img {
    height: 100%;
    width: 100%;
}
#dailymails-title {
    height: 80px;
}
#dailymails-title img {
    height: 100%;
    width: 100%;
}
#bbcsports-title {
    height: 80px;
}
#bbcsports-title img {
    height: 100%;
    width: 100%;
}
.news-cont {
    border: 1px solid #eeefef;
    margin-bottom: 10px;
    border-radius: 10px;
}
.news-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.news-img:hover {
    opacity: 0.7;
}
.news-title {
    border-bottom: 1px solid #eeefef;
    margin: 0px 10px;
    padding: 10px 0px;
}
.news-desc {
    margin: 0px 10px;
    padding: 10px 0px;
}

